/**
 * Plugin: Maester Toolkit
 * Addon: Course Category
 */
.maester-course-category-list {
  margin: 0 -15px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.maester-course-category-list li {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 50px;
}
@media (max-width: 1199.98px) {
  .maester-course-category-list li {
    margin-bottom: 30px;
  }
}
.maester-course-category-list.column-2 li {
  width: 50%;
}
@media (max-width: 575.98px) {
  .maester-course-category-list.column-2 li {
    width: 100%;
  }
}
.maester-course-category-list.column-3 li {
  width: 33.3333%;
}
@media (max-width: 991.98px) {
  .maester-course-category-list.column-3 li {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .maester-course-category-list.column-3 li {
    width: 100%;
  }
}
.maester-course-category-list.column-4 li {
  width: 25%;
}
@media (max-width: 991.98px) {
  .maester-course-category-list.column-4 li {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .maester-course-category-list.column-4 li {
    width: 100%;
  }
}
.maester-course-category-list.column-5 li {
  width: 20%;
}
@media (max-width: 991.98px) {
  .maester-course-category-list.column-5 li {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .maester-course-category-list.column-5 li {
    width: 100%;
  }
}
.maester-course-category-list li a {
  display: block;
  text-align: center;
}
.maester-course-category-list li a img {
  display: block;
  width: 100%;
  border-radius: 4px;
  transition: 200ms;
}
.maester-course-category-list li a:hover img {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.maester-course-category-list li a h4 {
  margin: 25px 0 0;
  font-size: 16px;
}

.maester-tutor-courses {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.maester-tutor-courses .maester-tutor-course {
  padding: 0 15px;
  margin-bottom: 50px;
  width: 100%;
}
@media (max-width: 1199.98px) {
  .maester-tutor-courses .maester-tutor-course {
    margin-bottom: 30px;
  }
}
.maester-tutor-courses.column-2 .maester-tutor-course {
  width: 50%;
}
@media (max-width: 575.98px) {
  .maester-tutor-courses.column-2 .maester-tutor-course {
    width: 100%;
  }
}
.maester-tutor-courses.column-3 .maester-tutor-course {
  width: 33.3333%;
}
@media (max-width: 991.98px) {
  .maester-tutor-courses.column-3 .maester-tutor-course {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .maester-tutor-courses.column-3 .maester-tutor-course {
    width: 100%;
  }
}
.maester-tutor-courses.column-4 .maester-tutor-course {
  width: 25%;
}
@media (max-width: 991.98px) {
  .maester-tutor-courses.column-4 .maester-tutor-course {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .maester-tutor-courses.column-4 .maester-tutor-course {
    width: 100%;
  }
}
.maester-tutor-courses.column-5 .maester-tutor-course {
  width: 20%;
}
@media (max-width: 991.98px) {
  .maester-tutor-courses.column-5 .maester-tutor-course {
    width: 50%;
  }
}
@media (max-width: 575.98px) {
  .maester-tutor-courses.column-5 .maester-tutor-course {
    width: 100%;
  }
}

.maester-tutor-course {
  text-align: center;
}
.maester-tutor-course .price > span {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--mr-major-color);
}
.maester-tutor-course .added_to_cart {
  margin-left: 4px;
}
.maester-tutor-course .maester-course-meta {
  margin: 0 -2px 8px;
  padding: 0;
  list-style: none;
  font-size: 13px;
}
.maester-tutor-course .maester-course-meta li {
  display: inline-block;
  padding: 0 2px;
}
.maester-tutor-course .maester-course-meta li strong {
  font-weight: 600;
  color: var(--mr-heading-color);
}
.maester-tutor-course .maester-course-meta li a {
  color: var(--mr-text-color);
  text-decoration: underline;
}
.maester-tutor-course .maester-course-meta li a:hover {
  color: var(--mr-major-color);
  text-decoration: none;
}
.maester-tutor-course .maester-course-meta li a:not(:last-child) {
  margin-right: 4px;
}
.maester-tutor-course .maester-course-meta li a:not(:last-child)::after {
  content: ',';
}
.maester-tutor-course .maester-course-content {
  padding: 25px 15px 0;
}
.maester-tutor-course .maester-course-content h3 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
}
.maester-tutor-course .maester-course-content h3 i.course-bookmark-icon {
  line-height: inherit;
  margin-right: 5px;
  cursor: pointer;
  padding: 0 5px;
  font-weight: 400;
}
.maester-tutor-course .maester-course-content h3 i.course-bookmark-icon.wishlisted {
  font-weight: 900;
}
.maester-tutor-course .maester-course-content h3 i.course-bookmark-icon:hover {
  color: var(--mr-major-color);
}
.maester-tutor-course .maester-course-content h3 a {
  display: inline;
  color: var(--mr-heading-color);
}
.maester-tutor-course .maester-course-content h3 a:hover {
  color: var(--mr-major-color);
}



/*# sourceMappingURL=main.css.map */
